body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#noButton {
    position: absolute;
    margin-left: 25%;
    transition: 0.5s;
}
.text {
    background: white;
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#yesButton {
    position: absolute;
    margin-right: 45%;
}

.header_text {
    font-family: cursive;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-bottom: 5px;
}

.buttons {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.btn {
    background-color: deeppink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    margin: 40px 20px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0 10% 0;
}

img {
    width: 400px;
}

#yesButton {
    position: absolute;
}
